[update_manager S66octoapp_service]
type: git_repo
# Using `channel: beta` makes moonraker only update to the lasted tagged commit on the branch. Which lets us control releases.
channel: beta
path: /usr/data/octoapp
origin: https://github.com/crysxd/OctoApp-Plugin.git
env: /usr/data/octoapp-env/bin/python
requirements: requirements.txt
install_script: install.sh
managed_services:
  S66octoapp_service

# This allows users of OctoApp to get announcements from the system.
[announcements]
subscriptions:
    octoapp.
